/* CSS reset */

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: verdana;
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
    text-align: left;
    font-size: 20px;
}

#container{
    position: relative;
    width: 90%;
    height: auto;
    background-color: rgb(233, 126, 126);
    margin: auto;
}

#verde{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: rgb(90, 255, 25);
    text-align: left;
    font-size: 20px;
}

#vermelho{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgb(253, 143, 115);
    font-size: 20px;
}
#vermelho2{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: rgb(197, 43, 5);
    text-align: left;
    font-size: 20px;
    top: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cards{
    position: relative;
    width: 40%;
    height: 300px;
    background-color: rgb(245, 149, 149);
    text-align: left;
    padding: 20px;
    
}


#ciano{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: rgb(93, 224, 224);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    top: 46px;
}
.cards2{
    position: relative;
    width: 15%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}

#laranja{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: rgb(170, 59, 8);
    top: 70px;
    padding: 20px;
}

#amarelo{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: rgb(238, 255, 0);
    top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.cards3{
    position: relative;
    width: 45%;
    height: 400px;
    background-color: rgb(12, 1, 112);
    text-align: left;
    font-size: 20px;
}
.cards4{
    position: relative;
    width: 45%;
    height: 400px;
    background-color: rgb(1, 158, 179);
    text-align: left;
    font-size: 20px;
}

#rodape{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: black;
    top: 130px;
}